[includeIf "gitdir:~/Private/"]
  path = ~/.gitconfig-private

[includeIf "gitdir:~/Work/"]
  path = ~/.gitconfig-work

[init]
	defaultBranch = main

[user]
	name = Vasilii Borisov
	email = obi@yuhen.org
	username = yuhenobi

[core]
	excludesfile = ~/.gitignore_global
	editor = nano -w

[diff]
    tool = vimdiff

[color]
	ui = auto

[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold

[github]
	user = yuhenobi
